/*Imported variables*/
.border-left {
  border-left: solid 1px #191919; }

.border-right {
  border-right: solid 1px #191919; }

.phone-wrapper .phone-screen-wrap ul li, body a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.home-banner:after, .cross-border:after, .cross-border:before {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.overlay-content {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.phone-wrapper .phone-screen-wrap ul li:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.zoom-out-1 {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

#main-header-wrap {
  background: #f0f0f0; }

#banner-wrap {
  position: relative; }

.phone-wrapper {
  float: left;
  position: relative;
  z-index: 9; }
  .phone-wrapper .phone-screen-wrap {
    background: url(../images/iPhone_white.png);
    width: 280px;
    height: 548px;
    display: inline-block;
    position: relative; }
    .phone-wrapper .phone-screen-wrap ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0; }
      .phone-wrapper .phone-screen-wrap ul li {
        margin-left: 0;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 14px 14px;
        margin: 12px 0;
        cursor: pointer;
        width: 100%; }
        .phone-wrapper .phone-screen-wrap ul li .phone-quote-car {
          color: #7c7c7c;
          font-size: .6em;
          margin-top: .25em;
          font-family: "Lato", sans-serif; }
        .phone-wrapper .phone-screen-wrap ul li .phone-quote-price {
          font-weight: 900;
          color: #252525;
          font-size: 12px;
          font-family: "Lato", sans-serif; }
        .phone-wrapper .phone-screen-wrap ul li .phone-quote-company {
          color: #0a0a0a;
          font-weight: 700;
          font-size: .8em; }
        .phone-wrapper .phone-screen-wrap ul li .col-sm-12, .phone-wrapper .phone-screen-wrap ul li .col-sm-7, .phone-wrapper .phone-screen-wrap ul li .col-sm-5 {
          padding-right: 8px;
          padding-left: 8px; }
        .phone-wrapper .phone-screen-wrap ul li .col-sm-7 {
          padding-right: 0; }
    .phone-wrapper .phone-screen-wrap .screen-main {
      background-color: #e7e7e7;
      width: 230px;
      height: 390px;
      position: absolute;
      top: 65px;
      left: 16px;
      z-index: 998;
      overflow: hidden;
      padding: 0 6px;
      position: relative; }
      .phone-wrapper .phone-screen-wrap .screen-main ul {
        position: relative; }

.phone-wrapper.black-phone .phone-screen-wrap {
  background: url(../images/iPhone_black.png);
  width: 280px;
  height: 548px;
  margin-right: 30px; }

#banner-wrap {
  background: #f0f0f0; }

.home-banner {
  background: #f0f0f0;
  position: relative; }
  .home-banner:after {
    content: '';
    background: #487fa4;
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%; }
  .home-banner .phone-txt {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #6d6d6d;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 8px; }

.insurance-content-wrap h3 {
  font-size: 30px;
  color: #8bc242;
  font-weight: 800; }
.insurance-content-wrap h1 {
  font-size: 62px;
  color: #0a0a0a;
  font-weight: 900;
  line-height: 60px; }
.insurance-content-wrap .tagline {
  font-weight: 600;
  color: #747474;
  margin: 20px 0 15px; }
  .insurance-content-wrap .tagline span {
    font-weight: 900;
    color: #075387; }
.insurance-content-wrap select, .insurance-content-wrap input {
  border: solid 1px #cccccc;
  background-color: none;
  border-radius: 0;
  color: #6d6d6d;
  height: 50px !important;
  display: table-cell !important; }
  .insurance-content-wrap select:focus, .insurance-content-wrap input:focus {
    box-shadow: none !important;
    border: solid 1px #cccccc;
    background-color: none; }
.insurance-content-wrap .ontop {
  padding: 0; }
  .insurance-content-wrap .ontop .row {
    width: 100%;
    margin: 0; }
    .insurance-content-wrap .ontop .row select {
      width: 68%;
      margin-right: 2%; }
    .insurance-content-wrap .ontop .row input {
      width: 30%;
      font-family: "Lato", sans-serif; }
.insurance-content-wrap .submit-button {
  background: #8bc242;
  width: 100%;
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer; }
  .insurance-content-wrap .submit-button:focus {
    box-shadow: none !important; }

.smart-txt {
  /*&:after{
         content: '';
         border-left: solid 0px transparent;
         border-right: solid 60vw transparent;
         border-bottom: solid 10vw $midOffBlackColor;
         position: absolute;
         top: -80px;
         left: 15px;
     }*/ }
  .smart-txt .inner-smart-txt {
    background: #252525;
    color: #ffffff;
    border-radius: 5px;
    padding: 60px;
    position: relative;
    margin-top: -40px;
    display: table;
    width: 100%;
    z-index: 999; }
    .smart-txt .inner-smart-txt > div {
      display: table-cell;
      vertical-align: middle; }
    .smart-txt .inner-smart-txt .content-txt {
      font-weight: 500;
      padding-right: 100px;
      font-size: 30px; }
      .smart-txt .inner-smart-txt .content-txt span {
        color: #8bc242;
        font-weight: 800; }
  .smart-txt:before {
    content: '';
    border-left: solid 30px transparent;
    border-right: solid 0px transparent;
    border-top: solid 30px #252525;
    position: absolute;
    bottom: -30px;
    left: 15%; }

.service-wrap ul {
  padding: 0; }
  .service-wrap ul .cont {
    overflow: hidden; }
  .service-wrap ul li {
    list-style: none; }

.service-first .icon {
  margin-right: -30px;
  margin-left: 30px; }

.service-last .icon {
  margin-left: -30px;
  margin-right: 30px; }

#grid-bottom-2 {
  background: url(../images/page1-img5.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative; }

.home-bottom-form input, .home-bottom-form select {
  width: 100%;
  border: solid 1px #ffffff;
  border-radius: 0;
  background: none;
  height: 50px !important;
  color: #ffffff;
  width: 100% !important; }
  .home-bottom-form input:focus, .home-bottom-form select:focus {
    box-shadow: none;
    background: none;
    border: solid 1px #ffffff; }

.home-bottom-form .row > div {
  display: table; }
.home-bottom-form .row .select-wrap {
  width: 60%; }
.home-bottom-form .row .input-wrap, .home-bottom-form .row .btn-wrap {
  width: 20%;
  padding-left: 10px; }

#testimonial-slider .testimonial {
  padding-left: 5px; }
  #testimonial-slider .testimonial .description {
    font-style: italic;
    color: #252525; }
  #testimonial-slider .testimonial .testimonial-icon {
    font-size: 50px;
    color: #cccccc; }
  #testimonial-slider .testimonial h3 {
    font-size: 18px;
    font-weight: 700; }
  #testimonial-slider .testimonial .post {
    font-size: 18px;
    font-weight: 400;
    color: #5b5b5b; }
#testimonial-slider .owl-controls .owl-page span {
  background: #000; }
#testimonial-slider .owl-controls .owl-page.active span {
  background: #8bc242; }

.bottom-svg-banner-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .bottom-svg-banner-wrap > div {
    padding: 0; }
  .bottom-svg-banner-wrap .svg1 svg {
    position: relative;
    left: 0px;
    top: 5px; }
  .bottom-svg-banner-wrap .svg2 svg {
    position: relative;
    right: 10%;
    top: 5px; }

.at-about #grid-top-1 .no-wrap {
  float: left;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 60px;
  color: #ffffff;
  font-weight: 900;
  position: relative;
  top: -20px;
  padding-right: 20px; }
.at-about #grid-top-1 .content {
  overflow: hidden; }

.anim .in-txt {
  font-size: 60px;
  font-weight: 800;
  font-family: "Lato", sans-serif; }

.cross-border {
  position: relative; }
  .cross-border:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #999;
    position: absolute;
    top: 50%;
    left: 49%; }
  .cross-border:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #999;
    position: absolute;
    top: 50%;
    left: 50%; }

#main-header-wrap .inner-block {
  border-bottom: solid 1px #6d6d6d; }

#main-header-wrap {
  color: #075387; }
  #main-header-wrap #top-bar .at-top-social-wrap ul {
    margin: 0;
    padding: 0;
    float: right; }
    #main-header-wrap #top-bar .at-top-social-wrap ul li {
      list-style: none;
      display: inline-block; }
  #main-header-wrap #top-bar .at-top-social-wrap a {
    width: 30px;
    height: 30px;
    color: #075387;
    border-radius: 50%;
    text-align: center;
    border: solid 2px #075387;
    display: inline-block;
    margin: 0 2px; }
    #main-header-wrap #top-bar .at-top-social-wrap a:hover {
      background: #075387;
      color: #ffffff; }
  #main-header-wrap #top-bar .at-top-call-wrap {
    font-weight: 600; }
    #main-header-wrap #top-bar .at-top-call-wrap .txt2 {
      font-family: "Lato", sans-serif; }

#main-header-wrap nav.navbar {
  padding: 0; }
  #main-header-wrap nav.navbar .nav-link {
    padding: 0; }
  #main-header-wrap nav.navbar .navbar-collapse > ul > li {
    padding: 30px 20px; }
  #main-header-wrap nav.navbar .navbar-collapse > ul > li:last-child {
    padding-right: 0; }
  #main-header-wrap nav.navbar a {
    color: #0a0a0a; }
  #main-header-wrap nav.navbar .child-menu {
    padding: 0;
    margin: 0;
    min-width: 240px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.05); }
  #main-header-wrap nav.navbar ul ul {
    padding: 0;
    margin: 0; }
    #main-header-wrap nav.navbar ul ul li {
      list-style: none; }
      #main-header-wrap nav.navbar ul ul li a {
        display: block;
        padding: 12px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
    #main-header-wrap nav.navbar ul ul li:last-child a {
      border-bottom: none; }

.at-quote .quate-left-header-wrap {
  padding: 20px; }
.at-quote .left-sidebar {
  min-height: 100vh;
  padding: 0;
  background: #252525;
  color: #ffffff; }
.at-quote .right-content {
  padding: 0; }
  .at-quote .right-content .progress {
    border-radius: 0;
    height: 40px; }
    .at-quote .right-content .progress .progress-bar {
      font-size: 16px;
      font-weight: 600;
      font-family: "Lato", sans-serif; }
.at-quote #question-container {
  padding: 0 30px; }
  .at-quote #question-container .head h4 {
    font-size: 18px;
    font-weight: 600;
    color: #8bc242; }
  .at-quote #question-container .heading h1 {
    font-weight: 800; }
  .at-quote #question-container h4 {
    color: #8bc242; }
  .at-quote #question-container .options-container ul {
    padding: 0;
    margin: 0; }
    .at-quote #question-container .options-container ul li {
      list-style: none;
      border: solid 1px #cccccc;
      border-bottom: 0; }
      .at-quote #question-container .options-container ul li a {
        padding: 10px;
        display: block; }
    .at-quote #question-container .options-container ul li:last-child {
      border-bottom: solid 1px #cccccc; }
  .at-quote #question-container .action-buttons .btn-primary {
    color: #8bc242;
    color: #ffffff;
    padding: 10px 15px; }
  .at-quote #question-container .btn-group.pill-buttons-large label.btn {
    cursor: pointer;
    border: 1px solid #cccccc;
    display: inline-block;
    padding: .5em 2em;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    margin-right: 5px; }
.at-quote input, .at-quote select {
  border: solid 1px #cccccc;
  height: 50px !important;
  border-radius: 0;
  padding: 0 10px !important;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0; }
  .at-quote input:focus, .at-quote select:focus {
    box-shadow: none; }
.at-quote label {
  font-weight: 600;
  font-size: 16px; }
.at-quote #left-sectioninfo {
  background: #354147;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px; }
.at-quote #left-basicinfo ul {
  padding: 20px 20px 20px 35px;
  border-bottom: solid 1px #354147;
  margin: 0;
  font-size: 15px; }
  .at-quote #left-basicinfo ul li {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #444; }
    .at-quote #left-basicinfo ul li .editedCls {
      float: right;
      color: #444; }
    .at-quote #left-basicinfo ul li:first-child, .at-quote #left-basicinfo ul li:last-child {
      border: none; }
    .at-quote #left-basicinfo ul li b {
      text-transform: uppercase;
      font-weight: 500;
      color: #999999; }
  .at-quote #left-basicinfo ul .title-wrap {
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
    border: none; }

.overlay-content {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 15%;
  max-width: 1100px;
  width: 100%; }

.xxl-font-win-size {
  font-size: 4.7vw;
  color: #d5d5d5;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80px; }

.contact-info-wrap .contact-info-txt {
  overflow: hidden;
  line-height: 20px;
  padding-left: 20px;
  font-size: 14px; }

::-webkit-selection {
  background-color: #075387;
  color: #ffffff; }

::-o-selection {
  background-color: #075387;
  color: #ffffff; }

::-moz-selection {
  background-color: #075387;
  color: #ffffff; }

::selection {
  background-color: #075387;
  color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }
  body a {
    color: #075387;
    cursor: pointer !important;
    text-decoration: none;
    outline: none; }
    body a:hover, body a:active, body a:focus {
      color: #021726;
      text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  text-transform: none; }

.container {
  max-width: 1330px; }

#at-page-wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  font-size: 16px; }

.float-none {
  float: none; }

.div-revert > div:first-child {
  order: 2; }

.xl-font {
  font-size: 70px;
  line-height: 70px; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px #fff inset; }

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none; }

input[type="file"] {
  padding: 0em 1.5em 0.5em 0.2em; }

select {
  background-color: #fff;
  display: inline-block;
  font: inherit;
  padding: 0.5em 1.5em 0.5em 0.2em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #333;
  cursor: pointer; }

select {
  background-image: linear-gradient(45deg, transparent 50%, #444 50%), linear-gradient(135deg, #444 50%, transparent 50%), linear-gradient(to right, white, white) !important;
  background-position: calc(100% - 15px) calc(1.3em + -2px), calc(100% - 10px) calc(1.3em + -2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat; }

select.arrow-white {
  background-color: transparent !important;
  display: inline-block !important;
  font: inherit !important;
  padding: 0.5em 1.5em 0.5em 0.2em !important;
  margin: 0 !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  color: #fff !important;
  cursor: pointer !important; }

select.arrow-white {
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, transparent, transparent) !important;
  background-position: calc(100% - 15px) calc(1.3em + -2px), calc(100% - 10px) calc(1.3em + -2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important; }

.btn-wrap a, .btn-wrap button {
  background: #8bc242;
  padding: 13px 30px 10px;
  white-space: nowrap;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  border-radius: 0;
  min-height: 50px;
  cursor: pointer; }

.latoFont {
  font-family: "Lato", sans-serif; }

.ralewayFont {
  font-family: "Raleway", sans-serif; }

.frankRuhlLibreFont {
  font-family: "Frank Ruhl Libre", serif; }

.vertical-content-centering {
  display: flex;
  align-items: center;
  justify-content: center; }

.form-group {
  width: 100%; }

.text-center {
  text-align: center;
  flex-grow: 1; }

.text-right {
  text-align: right;
  flex-grow: 1; }

.text-left {
  text-align: left;
  flex-grow: 1; }

.text-mid-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.blueColor {
  color: #075387; }

.greenColor {
  color: #8bc242; }

.whiteColor {
  color: #ffffff; }

.offWhiteColor {
  color: #f0f0f0; }

.blackColor {
  color: #000000; }

.midBlackColor {
  color: #0a0a0a; }

.midOffBlackColor {
  color: #252525; }

.offBlackColor {
  color: #6d6d6d; }

.offBlueColor {
  color: #487fa4; }

.grayColor {
  color: #999999; }

.midGrayColor {
  color: #cccccc; }

.bgoffWhiteColor {
  background: #f0f0f0; }

.bgBlueColor {
  background: #075387; }

.bgGreenColor {
  background: #8bc242; }

.bgMidOffBlackColor {
  background: #252525; }

.bgOffWhiteColor {
  background: #f0f0f0; }

.bgBlackColor1 {
  background: #1e1e1e; }

.bgBlackColor2 {
  background: #191919; }

.uppercase {
  text-transform: uppercase; }

h2 {
  font-size: 45px;
  font-weight: 800; }

h3 {
  font-size: 25px;
  font-weight: 700; }

h4 {
  color: #8bc242;
  font-size: 22px;
  font-weight: 700; }

.tag-line {
  font-size: 25px;
  font-weight: 300; }

.border-bottom {
  border-bottom: solid 1px #252525; }

.grey-spacer1-10 {
  border-bottom: solid 1px #999999;
  margin: 10px 0;
  width: 100%;
  display: inline-block; }

.midGraySpacer1-10 {
  border-bottom: solid 1px #cccccc;
  margin: 10px 0;
  width: 100%;
  display: inline-block; }

.spacer1-10 {
  border-bottom: solid 1px #252525;
  margin: 10px 0;
  width: 100%;
  display: inline-block; }

.spacer1-20 {
  border-bottom: solid 1px #252525;
  margin: 20px 0;
  width: 100%;
  display: inline-block; }

.spacer1-30 {
  border-bottom: solid 1px #252525;
  margin: 30px 0;
  width: 100%;
  display: inline-block; }

.spacer1-40 {
  border-bottom: solid 1px #252525;
  margin: 40px 0;
  width: 100%;
  display: inline-block; }

.spacer1-50 {
  border-bottom: solid 1px #252525;
  margin: 50px 0;
  width: 100%;
  display: inline-block; }

.full-img {
  width: 100%; }

.fontItalic {
  font-weight: italic; }

.fontLight300 {
  font-weight: 300; }

.fontRegular {
  font-weight: 400; }

.fontMedium {
  font-weight: 500; }

.fontSemiBold {
  font-weight: 600; }

.fontBold {
  font-weight: 700; }

.fontExtraBold {
  font-weight: 800; }

.fontBlack {
  font-weight: 900; }

.textTransformnone {
  text-transform: none; }

.textTransformcapitalize {
  text-transform: capitalize; }

.textTransformuppercase {
  text-transform: uppercase; }

.textTransformlowercase {
  text-transform: lowercase; }

.textTransforminitial {
  text-transform: initial; }

.textTransforminherit {
  text-transform: inherit; }

.border-input {
  border: solid 1px #ffffff;
  background: none;
  border-radius: 0;
  color: #ffffff !important;
  padding: 10px; }
  .border-input:focus {
    background: none;
    box-shadow: none;
    border: solid 1px #ffffff; }

.white-border {
  border-color: #ffffff; }

.at-padding5 {
  padding: 5px; }

.at-padding10 {
  padding: 10px; }

.at-padding15 {
  padding: 15px; }

.at-padding20 {
  padding: 20px; }

.at-padding25 {
  padding: 25px; }

.at-padding30 {
  padding: 30px; }

.at-padding35 {
  padding: 35px; }

.at-padding40 {
  padding: 40px; }

.at-padding45 {
  padding: 45px; }

.at-padding50 {
  padding: 50px; }

.at-padding55 {
  padding: 55px; }

.at-padding60 {
  padding: 60px; }

.at-padding65 {
  padding: 65px; }

.at-padding70 {
  padding: 70px; }

.at-padding75 {
  padding: 75px; }

.at-padding80 {
  padding: 80px; }

.at-padding85 {
  padding: 85px; }

.at-padding90 {
  padding: 90px; }

.at-padding95 {
  padding: 95px; }

.at-padding100 {
  padding: 100px; }

.at-paddingL10 {
  padding-left: 10px; }

.at-paddingL15 {
  padding-left: 15px; }

.at-paddingL20 {
  padding-left: 20px; }

.at-paddingL25 {
  padding-left: 25px; }

.at-paddingL30 {
  padding-left: 30px; }

.at-paddingL35 {
  padding-left: 35px; }

.at-paddingL40 {
  padding-left: 40px; }

.at-paddingL45 {
  padding-left: 45px; }

.at-paddingL50 {
  padding-left: 50px; }

.at-paddingL55 {
  padding-left: 55px; }

.at-paddingL60 {
  padding-left: 60px; }

.at-paddingL65 {
  padding-left: 65px; }

.at-paddingL70 {
  padding-left: 70px; }

.at-paddingL75 {
  padding-left: 75px; }

.at-paddingL80 {
  padding-left: 80px; }

.at-paddingL85 {
  padding-left: 85px; }

.at-paddingL90 {
  padding-left: 90px; }

.at-paddingL95 {
  padding-left: 95px; }

.at-paddingL100 {
  padding-left: 100px; }

.at-paddingR10 {
  padding-right: 10px; }

.at-paddingR15 {
  padding-right: 15px; }

.at-paddingR20 {
  padding-right: 20px; }

.at-paddingR25 {
  padding-right: 25px; }

.at-paddingR30 {
  padding-right: 30px; }

.at-paddingR35 {
  padding-right: 35px; }

.at-paddingR40 {
  padding-right: 40px; }

.at-paddingR45 {
  padding-right: 45px; }

.at-paddingR50 {
  padding-right: 50px; }

.at-paddingR55 {
  padding-right: 55px; }

.at-paddingR60 {
  padding-right: 60px; }

.at-paddingR65 {
  padding-right: 65px; }

.at-paddingR70 {
  padding-right: 70px; }

.at-paddingR75 {
  padding-right: 75px; }

.at-paddingR80 {
  padding-right: 80px; }

.at-paddingR85 {
  padding-right: 85px; }

.at-paddingR90 {
  padding-right: 90px; }

.at-paddingR95 {
  padding-right: 95px; }

.at-paddingR100 {
  padding-right: 100px; }

.at-paddingT10 {
  padding-top: 10px; }

.at-paddingT15 {
  padding-top: 15px; }

.at-paddingT20 {
  padding-top: 20px; }

.at-paddingT25 {
  padding-top: 25px; }

.at-paddingT30 {
  padding-top: 30px; }

.at-paddingT35 {
  padding-top: 35px; }

.at-paddingT40 {
  padding-top: 40px; }

.at-paddingT45 {
  padding-top: 45px; }

.at-paddingT50 {
  padding-top: 50px; }

.at-paddingT55 {
  padding-top: 55px; }

.at-paddingT60 {
  padding-top: 60px; }

.at-paddingT65 {
  padding-top: 65px; }

.at-paddingT70 {
  padding-top: 70px; }

.at-paddingT75 {
  padding-top: 75px; }

.at-paddingT80 {
  padding-top: 80px; }

.at-paddingT85 {
  padding-top: 85px; }

.at-paddingT90 {
  padding-top: 90px; }

.at-paddingT95 {
  padding-top: 95px; }

.at-paddingT100 {
  padding-top: 100px; }

.at-paddingB10 {
  padding-bottom: 10px; }

.at-paddingB15 {
  padding-bottom: 15px; }

.at-paddingB20 {
  padding-bottom: 20px; }

.at-paddingB25 {
  padding-bottom: 25px; }

.at-paddingB30 {
  padding-bottom: 30px; }

.at-paddingB35 {
  padding-bottom: 35px; }

.at-paddingB40 {
  padding-bottom: 40px; }

.at-paddingB45 {
  padding-bottom: 45px; }

.at-paddingB50 {
  padding-bottom: 50px; }

.at-paddingB55 {
  padding-bottom: 55px; }

.at-paddingB60 {
  padding-bottom: 60px; }

.at-paddingB65 {
  padding-bottom: 65px; }

.at-paddingB70 {
  padding-bottom: 70px; }

.at-paddingB75 {
  padding-bottom: 75px; }

.at-paddingB80 {
  padding-bottom: 80px; }

.at-paddingB85 {
  padding-bottom: 85px; }

.at-paddingB90 {
  padding-bottom: 90px; }

.at-paddingB95 {
  padding-bottom: 95px; }

.at-paddingB100 {
  padding-bottom: 100px; }

.at-margin10 {
  margin: 10px; }

.at-margin15 {
  margin: 15px; }

.at-margin20 {
  margin: 20px; }

.at-margin25 {
  margin: 25px; }

.at-margin30 {
  margin: 30px; }

.at-margin35 {
  margin: 35px; }

.at-margin40 {
  margin: 40px; }

.at-margin45 {
  margin: 45px; }

.at-margin50 {
  margin: 50px; }

.at-margin55 {
  margin: 55px; }

.at-margin60 {
  margin: 60px; }

.at-margin65 {
  margin: 65px; }

.at-margin70 {
  margin: 70px; }

.at-margin75 {
  margin: 75px; }

.at-margin80 {
  margin: 80px; }

.at-margin85 {
  margin: 85px; }

.at-margin90 {
  margin: 90px; }

.at-margin95 {
  margin: 95px; }

.at-margin100 {
  margin: 100px; }

.at-marginL10 {
  margin-left: 10px; }

.at-marginL15 {
  margin-left: 15px; }

.at-marginL20 {
  margin-left: 20px; }

.at-marginL25 {
  margin-left: 25px; }

.at-marginL30 {
  margin-left: 30px; }

.at-marginL35 {
  margin-left: 35px; }

.at-marginL40 {
  margin-left: 40px; }

.at-marginL45 {
  margin-left: 45px; }

.at-marginL50 {
  margin-left: 50px; }

.at-marginL55 {
  margin-left: 55px; }

.at-marginL60 {
  margin-left: 60px; }

.at-marginL15 {
  margin-left: 65px; }

.at-marginL70 {
  margin-left: 70px; }

.at-marginL25 {
  margin-left: 75px; }

.at-marginL80 {
  margin-left: 80px; }

.at-marginL35 {
  margin-left: 85px; }

.at-marginL90 {
  margin-left: 90px; }

.at-marginL45 {
  margin-left: 95px; }

.at-marginL100 {
  margin-left: 100px; }

.at-marginR10 {
  margin-right: 10px; }

.at-marginR15 {
  margin-right: 15px; }

.at-marginR20 {
  margin-right: 20px; }

.at-marginR25 {
  margin-right: 25px; }

.at-marginR30 {
  margin-right: 30px; }

.at-marginR35 {
  margin-right: 35px; }

.at-marginR40 {
  margin-right: 40px; }

.at-marginR45 {
  margin-right: 45px; }

.at-marginR50 {
  margin-right: 50px; }

.at-marginR55 {
  margin-right: 55px; }

.at-marginR60 {
  margin-right: 60px; }

.at-marginR65 {
  margin-right: 65px; }

.at-marginR70 {
  margin-right: 70px; }

.at-marginR75 {
  margin-right: 75px; }

.at-marginR80 {
  margin-right: 80px; }

.at-marginR85 {
  margin-right: 85px; }

.at-marginR90 {
  margin-right: 90px; }

.at-marginR95 {
  margin-right: 95px; }

.at-marginR100 {
  margin-right: 100px; }

.at-marginT10 {
  margin-top: 10px; }

.at-marginT15 {
  margin-top: 15px; }

.at-marginT20 {
  margin-top: 20px; }

.at-marginT25 {
  margin-top: 25px; }

.at-marginT30 {
  margin-top: 30px; }

.at-marginT35 {
  margin-top: 35px; }

.at-marginT40 {
  margin-top: 40px; }

.at-marginT45 {
  margin-top: 45px; }

.at-marginT50 {
  margin-top: 50px; }

.at-marginT55 {
  margin-top: 55px; }

.at-marginT60 {
  margin-top: 60px; }

.at-marginT65 {
  margin-top: 65px; }

.at-marginT70 {
  margin-top: 70px; }

.at-marginT75 {
  margin-top: 75px; }

.at-marginT80 {
  margin-top: 80px; }

.at-marginT85 {
  margin-top: 85px; }

.at-marginT90 {
  margin-top: 90px; }

.at-marginT95 {
  margin-top: 95px; }

.at-marginT100 {
  margin-top: 100px; }

.at-marginT--5 {
  margin-top: -5px; }

.at-marginT--10 {
  margin-top: -10px; }

.at-marginT--15 {
  margin-top: -15px; }

.at-marginT--20 {
  margin-top: -20px; }

.at-marginT--25 {
  margin-top: -25px; }

.at-marginT--30 {
  margin-top: -30px; }

.at-marginT--35 {
  margin-top: -35px; }

.at-marginT--40 {
  margin-top: -40px; }

.at-marginT--45 {
  margin-top: -45px; }

.at-marginT--50 {
  margin-top: -50px; }

.at-marginT--55 {
  margin-top: -55px; }

.at-marginT--60 {
  margin-top: -60px; }

.at-marginT--65 {
  margin-top: -65px; }

.at-marginT--70 {
  margin-top: -70px; }

.at-marginT--75 {
  margin-top: -75px; }

.at-marginT--80 {
  margin-top: -80px; }

.at-marginT--85 {
  margin-top: -85px; }

.at-marginT--90 {
  margin-top: -90px; }

.at-marginT--95 {
  margin-top: -95px; }

.at-marginT--100 {
  margin-top: -100px; }

.at-marginB10 {
  margin-bottom: 10px; }

.at-marginB15 {
  margin-bottom: 15px; }

.at-marginB20 {
  margin-bottom: 20px; }

.at-marginB25 {
  margin-bottom: 25px; }

.at-marginB30 {
  margin-bottom: 30px; }

.at-marginB35 {
  margin-bottom: 35px; }

.at-marginB40 {
  margin-bottom: 40px; }

.at-marginB45 {
  margin-bottom: 45px; }

.at-marginB50 {
  margin-bottom: 50px; }

.at-marginB55 {
  margin-bottom: 55px; }

.at-marginB60 {
  margin-bottom: 60px; }

.at-marginB65 {
  margin-bottom: 65px; }

.at-marginB70 {
  margin-bottom: 70px; }

.at-marginB75 {
  margin-bottom: 75px; }

.at-marginB80 {
  margin-bottom: 80px; }

.at-marginB85 {
  margin-bottom: 85px; }

.at-marginB90 {
  margin-bottom: 90px; }

.at-marginB95 {
  margin-bottom: 95px; }

.at-marginB100 {
  margin-bottom: 100px; }

.at-nopadding {
  padding: 0; }

.at-nomargin {
  margin: 0; }

.block-80 {
  width: 80%;
  margin: 0 auto; }

#footer .nav ul {
  padding: 0;
  margin: 0; }
  #footer .nav ul li {
    line-height: 35px;
    list-style: none; }
    #footer .nav ul li a {
      color: #fff; }

.recent-article-wrap ul {
  margin: 0;
  padding: 0;
  display: inine-block;
  width: 100%; }
  .recent-article-wrap ul li {
    list-style: none;
    width: 50%;
    float: left; }
    .recent-article-wrap ul li img {
      float: left;
      margin-right: 10px; }
    .recent-article-wrap ul li .txt {
      overflow: hidden; }

.conatct-info-wrap img {
  float: left;
  margin-right: 50px; }
.conatct-info-wrap .info-wrap {
  overflow: hidden; }

.social-wrap ul {
  margin: 0;
  padding: 0; }
  .social-wrap ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px; }
    .social-wrap ul li a {
      background: #999999;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 15px;
      color: #ffffff;
      text-align: center;
      line-height: 40px; }

#footer .home-bottom-form .row .select-wrap {
  width: 70%; }

* {
  font-family: "Raleway", sans-serif;
  outline: none; }

/*# sourceMappingURL=main.css.map */
